/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100%;
  --system-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: norde-font;
  src: url(./fonts/Norse-Bold.otf);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
}

.image {
  height: 100%;
  width: 50rem;
  position: relative;
}

.image>img {
  width: 100%;
  height: 100vh;
}

.odin {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.odin span {
  font-size: 6rem;
  color: white;
  font-family: norde-font, sans-serif;
}

.odin img {
  width: 15%;
  height: 125px;
}

.img-src-box {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 10px;
  justify-content: center;
}

.img-src-text {
  font-size: 0.8rem;
  color: white;
  font-family: var(--system-font-family);
}

.img-src-text a {
  color: white;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: whitesmoke;
  font-family: var(--system-font-family);
  font-weight: 600;
}

.top-text {
  padding-left: 40px;
  font-size: 1.3rem;
  width: 80%;
  line-height: 30px;
}

.italic {
  font-style: italic;
}

p:last-child {
  margin-top: 35px;
}

.form-box {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background-color: white;
  margin-top: 25px;
  padding-left: 40px;
  box-shadow: 5px 5px 8px lightgray;
}

.form-box h1 {
  font-size: 1.3rem;
  padding-top: 20px;
  width: 100%;
}

.right button {
  margin-left: 40px;
  margin-top: 35px;
  width: 225px;
  padding: 12px 25px;
  background-color: #596D48;
  font-weight: 700;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  font-family: var(--system-font-family);
}

.bottom-text {
  padding-left: 40px;
}

.bottom-text a {
  text-decoration: none;
}

form>div {
  width: 100%;
  display: flex;
  padding: 15px 0;
  box-sizing: border-box;
}

form>div>div {
  display: flex;
  padding: 0 3rem 0 0;
  flex-direction: column;
}

form label {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  color: grey;
}

form input {
  border: 0.13rem solid #E5E7EB;
  height: 1.6rem;
  width: 15rem;
  border-radius: 0.3rem;
}